git+https://github.com/KurimuzonAkuma/pyrogram/archive/v2.1.23.zip
py-tgcalls
yt-dlp
youtube-search
youtube-search-python
aiohttp
flask
Flask-RESTful
tgcrypto
ffmpeg-python
isodate
pillow
psutil
requests
python-dotenv
asyncpg
pymongo
aiofiles
gender-guesser
