git+https://github.com/AsmSafone/SafoneAPI
py-tgcalls
yt-dlp
youtube-search
youtube-search-python
aiohttp
flask
Flask-RESTful
tgcrypto
ffmpeg-python
isodate
pillow
psutil
requests
python-dotenv
asyncpg
pymongo
aiofiles
gender-guesser
